POSTGRES_DB=zencampuz
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Pranavy
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

SECRET_KEY=your-secret-key-goes-here
DEBUG=True

# Frontend
VITE_API_BASE_URL=http://localhost:8000/api
